In [2]:
import pandas as pd

In [3]:
path = "datasets/natalità/C03F (interessante).xlsx"

In [4]:
data = pd.ExcelFile(path)

Nome fogli del file excel interessanti:
- Interessante

In [5]:
mean_family_components = data.parse(sheet_name="Interessante", header=7)
mean_family_components

,Unnamed: 0,1999-2000,2003-2005,2009-2010,2014-2015,2019-2020,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Nord-ovest,2.5,2.4,2.3,2.3,2.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Nord-est,2.6,2.5,2.4,2.3,2.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Centro,2.6,2.5,2.4,2.3,2.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Sud,3.0,2.8,2.7,2.6,2.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Isole,2.8,2.7,2.6,2.5,2.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Italia,2.7,2.6,2.5,2.4,2.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,"Fonte: Istat, Indagine multiscopo ""Aspetti de...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,(a) Fino al 2003 l'indagine è stata condotta n...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,

In [6]:
mean_family_components = mean_family_components.drop(mean_family_components.columns[6:],
                                                     axis=1)  # axis = 1 --> agisce sulle colonne

In [7]:
mean_family_components = mean_family_components.drop([0, *[i for i in range(7, 18)]],
                                                     axis=0)  # axis = 0 --> agisce sulle righe

In [8]:
mean_family_components.columns = ["Zone", *mean_family_components.columns[1:]]

In [9]:
mean_family_components

         Zone  1999-2000  2003-2005  2009-2010  2014-2015  2019-2020
1  Nord-ovest        2.5        2.4        2.3        2.3        2.2
2    Nord-est        2.6        2.5        2.4        2.3        2.3
3      Centro        2.6        2.5        2.4        2.3        2.3
4         Sud        3.0        2.8        2.7        2.6        2.5
5       Isole        2.8        2.7        2.6        2.5        2.4
6      Italia        2.7        2.6        2.5        2.4        2.3

# Secondo file

In [10]:
path = "datasets/natalità/C03T (interessante).xlsx"
data = pd.ExcelFile(path)

Nome fogli del file excel interessanti:
- 3.6
- 3.7
- 3.8
- 3.18
- 3.19
- 3.20

---
## 3.6: Indicatori di fecondità per cittadinanza della madre e regione
#### Fare attenzione perché queste due tabelle hanno un doppio titolo nelle colonne
TODO: Decidere se dividere ulteriormente le tabelle in base a questi titoli

In [11]:
dati_fecondità_anni = data.parse(sheet_name="3.6", header=7, nrows=6)
colonne_nan = [dati_fecondità_anni.columns[4], dati_fecondità_anni.columns[8]]
dati_fecondità_anni = dati_fecondità_anni.drop(colonne_nan, axis=1)
dati_fecondità_anni = dati_fecondità_anni.drop(1, axis=0)
dati_fecondità_anni

,ANNI\nREGIONI,Tasso di Fecondità Totale (TFT),Unnamed: 2,Unnamed: 3,Età media della madre al parto,Unnamed: 6,Unnamed: 7,Età media\n del padre
0,NaN,Italiana,Straniera,Totale,Italiana,Straniera,Totale,NaN
2,2015.0,1.270918,1.940229,1.347892,32.252841,28.655955,31.67036,35.255737
3,2016.0,1.261517,1.968032,1.340694,32.354878,28.747685,31.77571,35.342831
4,2017.0,1.240803,1.97948,1.321948,32.465795,28.875535,31.889425,35.446354
5,2018.0,1.210718,1.937481,1.289692,32.548697,29.029351,31.987304,35.494753

---
I dati di sotto sono stati estratti dalla tabella originale (3.6), quindi hanno gli stessi nomi delle colonne di quella di sopra

In [12]:
dati_fecondità_regioni2019 = data.parse(sheet_name="3.6", header=16, nrows=28)
dati_fecondità_regioni2019 = dati_fecondità_regioni2019.drop(colonne_nan, axis=1)
dati_fecondità_regioni2019.columns = ["Regione",
                                      "Italiana",
                                      "Straniera",
                                      "Totale",
                                      "Italiana",
                                      "Straniera",
                                      "Totale",
                                      "Età media del padre"]
dati_fecondità_regioni2019

,Regione,Italiana,Straniera,Totale,Italiana,Straniera,Totale,Età media del padre
0,Piemonte,1.152717,1.958290,1.266104,32.779611,29.398476,32.103348,35.629804
1,\nValle d'Aosta/Vallée d'Aoste,1.246791,1.943801,1.309894,32.650467,28.982930,32.188657,35.396699
2,Liguria,1.080542,2.000146,1.213661,33.221114,28.788941,32.230680,35.878240
3,Lombardia,1.175066,2.134895,1.325625,33.149258,29.254256,32.230251,35.814704
4,Trentino-Alto Adige/Südtirol,1.453726,2.462518,1.568312,32.480020,29.448120,32.001031,35.469309
5,Bolzano/Bozen,1.598134,2.607874,1.714708,32.128225,29.713267,31.782733,35.254572
6,Trento,1.302937,2.308228,1.416963,32.937440,29.097688,32.282811,35.755792
7,Veneto,1.158749,2.100137,1.292146,33.120928,29.157202,32.272815,35.807495
8,Friuli-Venezia Giulia,1.125529,2.071901,1.250708,32.999801,29.014967,32.197553,35.790432
9,Emilia-Romagna,1.122881,2.088406,1.300399,32.913877,29.303342,31.937527,35.697134
10,Toscana,1.089402,1.868419,1.205575,33.392677,28.958913,32.377276,35.897949
11,Umbria,1.109860,1.731541,1.198163,32.869803,29.291937,32.139884,35.769542
12,Marche,1.081434,1.957812,1.191790,33.177635,29.203898,32.412469,36.139882
13,Lazio,1.122209,1.686819,1.181153,33.302212,29.072363,32.556311,35.938780
14,Abruzzo,1.121135,1.779971,1.169914,33.049524,28.592328,32.504086,35.988539
15,Molise,1.124365,1.764275,1.154751,33.026920,27.956711,32.597626,36.296324
16,Campania,1.296935,1.824021,1.313243,31.894159,28.859789,31.734821,34.974083
17,Puglia,1.174655,1.979321,1.204401,32.209009,28.369954,31.976133,35.311895
18,Basilicata,1.117332,1.813476,1.151234,33.108440,28.880453,32.780108,36.471053
19,Calabria,1.240747,1.658648,1.260535,32.163804,28.905910,31.910740,35.763647
20,Sicilia,1.301429,2.054693,1.330363,31.525179,28.624595,31.354360,34.852876
21,Sardegna,0.971587,1.556226,0.996965,32.970586,29.747560,32.768730,36.493628
22,Nord-ovest,1.161745,2.080134,1.300556,33.054083,29.251206,32.199073,35.770415
23,Nord-est,1.172555,2.121209,1.317940,32.947252,29.234765,32.104941,35.715062
24,Centro,1.106369,1.781443,1.191012,33.281602,29.047446,32.454273,35.939562
25,Sud,1.230947,1.822769,1.254425,32.161014,28.689686,31.934930,35.326191
26,Isole,1.229829,1.952335,1.258223,31.770160,28.788476,31.593178,35.114387
27,ITALIA,1.182006,1.983631,1.267032,32.654888,29.110605,32.093009,35.601545

---
## 3.7: Nati vivi per filiazione, tipologia di coppia e regione

In [78]:
filiazione_tipocoppia = data.parse(sheet_name="3.7", header=8, nrows=6)

colonne_nan = [value for position, value in enumerate(filiazione_tipocoppia.columns) if
               position in [3, 6, 9, 12, 15, 18]]

filiazione_tipocoppia = filiazione_tipocoppia.drop(colonne_nan, axis=1)
filiazione_tipocoppia = filiazione_tipocoppia.drop([0, 1], axis=0)

filiazione_tipocoppia.columns = ["Anno",
                                 "All'interno del matrimonio (valori assoluti)",
                                 "All'interno del matrimonio (%)",
                                 "Fuori dal matrimonio (valori assoluti)",
                                 "Fuori dal matrimonio (%)",
                                 "Genitori entrambi italiani (valori assoluti)",
                                 "Genitori entrambi italiani (%)",
                                 "Genitori entrambi stranieri (valori assoluti)",
                                 "Genitori entrambi stranieri (%)",
                                 "Madre italiana e padre straniero (valori assoluti)",
                                 "Madre italiana e padre straniero (%)",
                                 "Madre straniera e padre italiano (valori assoluti)",
                                 "Madre straniera e padre italiano (%)",
                                 "Totale (valori assoluti)"
                                 ]
filiazione_tipocoppia

,Anno,All'interno del matrimonio (valori assoluti),All'interno del matrimonio (%),Fuori dal matrimonio (valori assoluti),Fuori dal matrimonio (%),Genitori entrambi italiani (valori assoluti),Genitori entrambi italiani (%),Genitori entrambi stranieri (valori assoluti),Genitori entrambi stranieri (%),Madre italiana e padre straniero (valori assoluti),Madre italiana e padre straniero (%),Madre straniera e padre italiano (valori assoluti),Madre straniera e padre italiano (%),Totale (valori assoluti)
2,2015.0,346169,71.260447,139611,28.739553,385014,79.256865,72096,14.841286,6497,1.337437,22173,4.564412,485780
3,2016.0,331681,70.057959,141757,29.942041,373075,78.801237,69379,14.654295,7142,1.50854,23842,5.035929,473438
4,2017.0,316543,69.091413,141608,30.908587,358940,78.345349,67933,14.827644,7466,1.629594,23812,5.197413,458151
5,2018.0,297768,67.713481,141979,32.286519,343169,78.037826,65444,14.882194,7932,1.803764,23202,5.276216,439747

In [42]:
filiazione_tipocoppia_reg2019 = data.parse(sheet_name="3.7", header=17, nrows=28)  # , nrows=6)

colonne_nan = [value for position, value in enumerate(filiazione_tipocoppia_reg2019.columns) if
               position in [3, 6, 9, 12, 15, 18]]

filiazione_tipocoppia_reg2019 = filiazione_tipocoppia_reg2019.drop(colonne_nan, axis=1)

filiazione_tipocoppia_reg2019.columns = ["Regione",
                                         "All'interno del matrimonio (valori assoluti)",
                                         "All'interno del matrimonio (%)",
                                         "Fuori dal matrimonio (valori assoluti)",
                                         "Fuori dal matrimonio (%)",
                                         "Genitori entrambi italiani (valori assoluti)",
                                         "Genitori entrambi italiani (%)",
                                         "Genitori entrambi stranieri (valori assoluti)",
                                         "Genitori entrambi stranieri (%)",
                                         "Madre italiana e padre straniero (valori assoluti)",
                                         "Madre italiana e padre straniero (%)",
                                         "Madre straniera e padre italiano (valori assoluti)",
                                         "Madre straniera e padre italiano (%)",
                                         "Totale (valori assoluti)"
                                         ]
filiazione_tipocoppia_reg2019

,Regione,All'interno del matrimonio (valori assoluti),All'interno del matrimonio (%),Fuori dal matrimonio (valori assoluti),Fuori dal matrimonio (%),Genitori entrambi italiani (valori assoluti),Genitori entrambi italiani (%),Genitori entrambi stranieri (valori assoluti),Genitori entrambi stranieri (%),Madre italiana e padre straniero (valori assoluti),Madre italiana e padre straniero (%),Madre straniera e padre italiano (valori assoluti),Madre straniera e padre italiano (%),Totale (valori assoluti)
0,Piemonte,17326,61.940512,10646,38.059488,20214,72.265122,5376,19.219219,615,2.198627,1767,6.317031,27972
1,Valle d'Aosta/Vallée d'Aoste,486,57.788347,355,42.211653,674,80.142687,104,12.366231,21,2.497027,42,4.994055,841
2,Liguria,5320,60.820853,3427,39.179147,6149,70.298388,1758,20.098319,247,2.823825,593,6.779467,8747
3,Lombardia,48539,66.385382,24578,33.614618,50224,68.689908,16108,22.030444,1681,2.299055,5104,6.980593,73117
4,Trentino-Alto Adige/Südtirol,5446,57.489708,4027,42.510292,6977,73.651430,1473,15.549456,359,3.789718,664,7.009395,9473
5,Bolzano/Bozen,2828,54.031334,2406,45.968666,3874,74.016049,766,14.635078,209,3.993122,385,7.355751,5234
6,Trento,2618,61.759849,1621,38.240151,3103,73.201227,707,16.678462,150,3.538570,279,6.581741,4239
7,Veneto,22110,65.889856,11446,34.110144,23511,70.064966,6792,20.240792,869,2.589701,2384,7.104542,33556
8,Friuli-Venezia Giulia,4866,64.923282,2629,35.076718,5453,72.755170,1291,17.224817,203,2.708472,548,7.311541,7495
9,Emilia-Romagna,19514,63.107173,11408,36.892827,20226,65.409741,7735,25.014553,759,2.454563,2202,7.121144,30922
10,Toscana,13677,58.321607,9774,41.678393,16723,71.310392,4719,20.122809,519,2.213125,1490,6.353674,23451
11,Umbria,3426,61.430877,2151,38.569123,4084,73.229335,981,17.590102,126,2.259279,386,6.921284,5577
12,Marche,6131,63.421951,3536,36.578049,7176,74.231923,1548,16.013241,238,2.461984,705,7.292852,9667
13,Lazio,23721,61.002957,15164,38.997043,29783,76.592516,6279,16.147615,790,2.031632,2033,5.228237,38885
14,Abruzzo,5510,64.823529,2990,35.176471,7078,83.270588,854,10.047059,145,1.705882,423,4.976471,8500
15,Molise,1379,71.562013,548,28.437987,1711,88.790867,111,5.760249,25,1.297353,80,4.151531,1927
16,Campania,35568,76.112217,11163,23.887783,42935,91.876913,2539,5.433224,270,0.577775,987,2.112088,46731
17,Puglia,19423,70.408903,8163,29.591097,25219,91.419561,1525,5.528166,218,0.790256,624,2.262017,27586
18,Basilicata,2858,77.832244,814,22.167756,3289,89.569717,233,6.345316,27,0.735294,123,3.349673,3672
19,Calabria,11326,78.158857,3165,21.841143,12931,89.234697,971,6.700711,112,0.772894,477,3.291698,14491
20,Sicilia,28196,73.016366,10420,26.983634,35280,91.361094,2143,5.549513,289,0.748394,904,2.340999,38616
21,Sardegna,4922,55.565590,3936,44.434410,8087,91.296004,378,4.267329,76,0.857981,317,3.578686,8858
22,Nord-ovest,71671,64.756905,39006,35.243095,77261,69.807638,23346,21.093814,2564,2.316651,7506,6.781897,110677
23,Nord-est,51936,63.767404,29510,36.232596,56167,68.962257,17291,21.230017,2190,2.688898,5798,7.118827,81446
24,Centro,46955,60.524620,30625,39.475380,57766,74.459912,13527,17.436195,1673,2.156484,4614,5.947409,77580
25,Sud,76064,73.915283,26843,26.084717,93163,90.531256,6233,6.056925,797,0.774486,2714,2.637333,102907
26,Isole,33118,69.760290,14356,30.239710,43367,91.348949,2521,5.310275,365,0.768842,1221,2.571934,47474
27,ITALIA,279744,66.592396,140340,33.407604,327724,78.013921,62918,14.977481,7589,1.806543,21853,5.202055,420084


---
## 3.8: Morti e quozienti di mortalità per sesso e regione

In [70]:
morti_sex = data.parse(sheet_name="3.8", header=7, nrows=6)

colonne_nan = [value for position, value in enumerate(morti_sex.columns) if
               position in [3, 6]]

morti_sex = morti_sex.drop(colonne_nan, axis=1)
morti_sex = morti_sex.drop([0, 1], axis=0)

morti_sex.columns = ["Anno",
                     'Maschi - Valori assoluti', 'Maschi - Quoziente per 1.000 abitanti',
                     'Femmine - Valori assoluti.1', 'Femmine - Quoziente per 1.000 abitanti.1',
                     'Maschi e femmine - Valori assoluti.2', 'Maschi e femmine - Quoziente per 1.000 abitanti.2'
                     ]
morti_sex

,Anno,Maschi - Valori assoluti,Maschi - Quoziente per 1.000 abitanti,Femmine - Valori assoluti.1,Femmine - Quoziente per 1.000 abitanti.1,Maschi e femmine - Valori assoluti.2,Maschi e femmine - Quoziente per 1.000 abitanti.2
2,2016,295775,10.134192,319486,10.329533,615261,10.234695
3,2017,309505,10.611274,339556,11.012142,649061,10.817277
4,2018,302495,10.379383,330638,10.758267,633133,10.573854
5,2019,303652,10.438132,330765,10.795754,634417,10.621577

In [76]:
morti_sex_reg2020 = data.parse(sheet_name="3.8", header=16, nrows=28)

colonne_nan = [value for position, value in enumerate(morti_sex_reg2020.columns) if
               position in [3, 6]]

morti_sex_reg2020 = morti_sex_reg2020.drop(colonne_nan, axis=1)

morti_sex_reg2020.columns = ["Regione",
                             'Maschi - Valori assoluti', 'Maschi - Quoziente per 1.000 abitanti',
                             'Femmine - Valori assoluti.1', 'Femmine - Quoziente per 1.000 abitanti.1',
                             'Maschi e femmine - Valori assoluti.2', 'Maschi e femmine - Quoziente per 1.000 abitanti.2'
                             ]
morti_sex_reg2020

,Regione,Maschi - Valori assoluti,Maschi - Quoziente per 1.000 abitanti,Femmine - Valori assoluti.1,Femmine - Quoziente per 1.000 abitanti.1,Maschi e femmine - Valori assoluti.2,Maschi e femmine - Quoziente per 1.000 abitanti.2
0,Piemonte,31957,12.893368,34097,15.456608,66054,15.389262
1,\nValle d'Aosta/Vallée d'Aoste,877,12.550323,972,15.276894,1849,14.855642
2,Liguria,12258,9.922447,13569,17.169288,25827,17.021509
3,Lombardia,66317,11.662379,69932,13.712139,136249,13.628584
4,Trentino-Alto Adige/Südtirol,5802,10.791714,6282,11.494716,12084,11.206898
5,Bolzano/Bozen,2619,13.158062,2839,10.544789,5458,10.236703
6,Trento,3183,13.447875,3443,12.417074,6626,12.155902
7,Veneto,27652,10.943690,30184,12.161214,57836,11.886243
8,Friuli-Venezia Giulia,7867,16.860864,8750,14.170385,16617,13.818889
9,Emilia-Romagna,28549,13.541570,31116,13.616686,59665,13.393316
10,Toscana,22906,13.135756,25229,13.266708,48135,13.078585
11,Umbria,5324,13.453601,5807,12.937709,11131,12.829808
12,Marche,9630,15.318051,10493,13.558153,20123,13.352674
13,Lazio,30319,11.559283,31842,10.729185,62161,10.832749
14,Abruzzo,8118,12.216747,8178,12.391425,16296,12.636491
15,Molise,1977,11.798682,2150,14.183742,4127,13.824337
16,Campania,29959,12.877463,29466,10.091651,59425,10.432850
17,Puglia,22160,11.885492,22490,11.116911,44650,11.332148
18,Basilicata,3398,12.714151,3441,12.303941,6839,12.425136
19,Calabria,10769,14.415096,10562,10.973250,21331,11.310666
20,Sicilia,27873,11.599947,28880,11.571901,56753,11.682180
21,Sardegna,9628,10.911091,9366,11.466355,18994,11.834836
22,Nord-ovest,111409,14.335825,118570,14.530779,229979,14.435679
23,Nord-est,69870,12.322203,76332,12.869737,146202,12.602126
24,Centro,68179,11.958960,73371,12.043355,141550,12.002557
25,Sud,76381,11.461894,76287,10.903397,152668,11.175844
26,Isole,37501,11.903262,38246,11.545875,75747,11.720088
27,ITALIA,363340,12.547531,382806,12.554130,746146,12.550916


---
## 3.18: Famiglie per numero di componenti e regione
#### Media 2019-2020, per 100 famiglie

In [100]:
famiglie_per_n_componenti = data.parse(sheet_name="3.18", header=7, nrows=6)

famiglie_per_n_componenti = famiglie_per_n_componenti.drop("Unnamed: 2", axis=1)
famiglie_per_n_componenti = famiglie_per_n_componenti.drop([0, 1], axis=0)

famiglie_per_n_componenti.columns = ["Range Anni",
                                     "Famiglie (valori assoluti in migliaia)",
                                     'Un componente %',
                                     "Due componenti %",
                                     "Tre componenti %",
                                     "Quattro componenti %",
                                     "Cinque o più componenti %",
                                     "Totale"
                                     ]
famiglie_per_n_componenti

,Range Anni,Famiglie (valori assoluti in migliaia),Un componente %,Due componenti %,Tre componenti %,Quattro componenti %,Cinque o più componenti %,Totale
2,2015-2016,25386.0,31.6,27.3,19.8,16,5.4,100
3,2016-2017,25494.0,31.9,27.5,19.6,15.7,5.3,100
4,2017-2018,25716.0,33,27.1,19.5,15.1,5.3,100
5,2018-2019,25715.0,33.3,27.1,19.3,15.1,5.3,100

In [111]:
famiglie_per_n_componenti_reg2019_2020 = data.parse(sheet_name="3.18", header=14, nrows=30)

famiglie_per_n_componenti_reg2019_2020 = famiglie_per_n_componenti_reg2019_2020.drop("Unnamed: 2", axis=1)
famiglie_per_n_componenti_reg2019_2020 = famiglie_per_n_componenti_reg2019_2020.drop([0, 1], axis=0)

famiglie_per_n_componenti_reg2019_2020.columns = ["Range Anni",
                                     "Famiglie (valori assoluti in migliaia)",
                                     'Un componente %',
                                     "Due componenti %",
                                     "Tre componenti %",
                                     "Quattro componenti %",
                                     "Cinque o più componenti %",
                                     "Totale"
                                     ]
famiglie_per_n_componenti_reg2019_2020

,Range Anni,Famiglie (valori assoluti in migliaia),Un componente %,Due componenti %,Tre componenti %,Quattro componenti %,Cinque o più componenti %,Totale
2,Piemonte,1979,36.8,29.8,17.2,12.1,4.0,100.0
3,Valle d'Aosta/Vallée d'Aoste,60,41.5,27.5,16.1,11.2,3.8,100.0
4,Liguria,750,42.8,28.0,15.7,10.2,3.3,100.0
5,Lombardia,4365,33.5,29.2,18.5,14.2,4.7,100.0
6,Trentino-Alto Adige/Südtirol,448,33.5,27.5,16.5,15.6,6.8,100.0
7,Bolzano/Bozen,220,35.5,25.3,15.2,15.8,8.1,100.0
8,Trento,228,31.6,29.7,17.6,15.5,5.6,100.0
9,Veneto,2023,29.1,30.2,20.2,14.9,5.5,100.0
10,Friuli-Venezia Giulia,536,34.8,29.8,18.2,12.8,4.4,100.0
11,Emilia-Romagna,1978,34.0,30.7,18.3,12.8,4.2,100.0
12,Toscana,1636,34.9,28.8,18.2,13.3,4.8,100.0
13,Umbria,375,34.0,27.2,18.2,15.0,5.6,100.0
14,Marche,629,31.1,26.8,20.5,15.8,5.8,100.0
15,Lazio,2585,36.2,25.6,19.4,14.7,4.1,100.0
16,Abruzzo,555,32.6,27.6,19.5,15.5,4.9,100.0
17,Molise,126,30.5,27.1,20.1,17.8,4.5,100.0
18,Campania,2167,25.9,23.6,20.9,20.9,8.7,100.0
19,Puglia,1610,28.8,25.8,21.0,18.1,6.4,100.0
20,Basilicata,239,34.3,27.2,17.0,16.7,4.8,100.0
21,Calabria,797,32.3,25.3,19.0,17.2,6.1,100.0
22,Sicilia,2011,30.3,25.4,19.2,19.2,5.8,100.0
23,Sardegna,724,34.8,27.6,20.2,13.9,3.5,100.0
24,Nord-ovest,7154,35.5,29.2,17.8,13.2,4.4,100.0
25,Nord-est,4985,32.0,30.1,18.9,13.9,5.0,100.0
26,Centro,5225,35.0,26.9,19.1,14.4,4.6,100.0
27,Sud,5494,28.8,25.1,20.3,18.7,7.0,100.0
28,Isole,2735,31.5,26.0,19.5,17.8,5.2,100.0
29,ITALIA,25592,32.9,27.7,19.0,15.3,5.2,100.0